
<% if flash[:errors] %>
    <h2 style="color: red"><%=	flash[:errors]%> </h2>
<%	 end %>

<form action="<% root_path %>" method="get">

  <div class="form-group">
    <label for="url" class="control-label string required">Enter url name</label>
    <input type="text" name="url" class="form-control string required">
  </div>
  <button class="btn btn-default">Generate</button>

</form>
<br/>

<% if @link %>
    <address>
      <h2><strong>Your Link</strong></h2><br>
      <h2><a href="<%= redirect_path(@link[:generate_url]) %>" methods="post"><%= (request.port ? request.host_with_port : request.host) + redirect_path(@link[:generate_url]) %></a></h2>
    </address>
<% end %>





  `