<h1>All Pages</h1>

<table class="table">
  <thead>
  <tr>
    <th>
      Название
    </th>
  </tr>
  </thead>

  <tbody>
  <% @pages.each do |page|%>
  <tr>
    <td>
      <%= page.name %>
    </td>
    <td>
      <%= link_to 'edit', edit_page_path(page)%>
    </td>
    <td>
      <%= link_to 'destroy', page_path(page), method: :delete, data: {confirm: 'Are you sure?'}%>
    </td>
  </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'create page', new_page_path%>